{% extends "layout.html" %}

{% block title %}
    TeeBAG - Home
{% endblock %}

{% block main %}

        <div class="m-5"><h1>Welcome to TeeBAG!</h1><h1>The evergrowing library of <b>Text Based Adventure Games</b></h1>
        <h2>Created by Navazzz</h2>


        <img id="tryoutimg"
            src="/static/ima.jpeg">

        <h5>Before modern video games we all know and love today, there were <strong>Text Adventure Games</strong>. Here, you can play such games with simple
        yes or no commands and the power of your own imagination. All games are based on original ideas and coded to be added to our website. Currently we only have
        1 game available as we are still in developmental phases. <strong>Hope you enjoy!</strong></h5>
        </div><br>

        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h3>You Seem New Here...</h3>
                <p class="lead">Head to the About page to find out more about TeeBag. Of course, if you aren't new here, head there anyway if you would like to suggest new games or to have one made for you.<a class="nav-link text-dark hover" href="/about">Click here.</a></p>
              </div>
              <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350" height="350" src="/static/about.png" role="img" aria-label="Placeholder: 100x100" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>

              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h3>What Do We Have Here?</h3>
                <p class="lead">So far, we only have one game. But, when we add more and more, you can directly view all the games available in a neat table :)<a class="nav-link text-dark hover" href="/list">Click here.</a></p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" src="/static/list.png" role="img" aria-label="Placeholder: 100x100" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>

              </div>
            </div>

        </div><br><br>



{% endblock %}
